<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/styleAbout.css">
    <title>About US</title>
</head>

<body>
    <div id="navbar">
        <div class="mainLogo">
            <img src="../static/logo/logo.png" alt="Error not found!!!" />
            <h1>Dance Academy</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/student">Our Students</a></li>
            <li><a href="/join">Join Now</a></li>
        </ul>
    </div>
    <div id="aboutContainer">
        <h1>About Us </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium facere quis cupiditate aperiam
            reiciendis recusandae officiis eius temporibus rerum eaque nesciunt voluptas, a earum eum vero? Repellat
            eveniet, nobis quia quo dolor laborum dolores at voluptatum culpa deserunt, iure fugit, voluptatem
            temporibus. Mollitia eaque debitis repellat est enim a repudiandae harum? Deserunt harum debitis unde cum ex
            nihil quaerat aliquid expedita atque? Quia tempora ab adipisci voluptate! Perspiciatis quisquam, eius sint
            tempore similique temporibus quasi incidunt cupiditate sit fuga veritatis sequi corporis! Fugiat iste magni
            reprehenderit enim iusto quisquam consequuntur voluptate adipisci facere atque. Labore rerum, nulla,
            voluptate laudantium, aperiam explicabo iste eligendi veniam architecto ipsam nihil! Pariatur, dignissimos
            quos. Voluptatibus libero illum, magnam hic corrupti alias nobis minima nisi, tempora aliquid, magni facere
            ut eaque voluptas eveniet in reiciendis? Quidem similique harum blanditiis vitae? Blanditiis aliquam fugit
            maxime dicta, obcaecati nemo consequuntur. Recusandae delectus repellat hic neque cum facere!</p>
        <div id="galleryTitle">
            <h2>Gallery</h2>
        </div>
        <div id="gallery">
            <img src="../static/logo/img3.png" alt="Error not found!!!" />
            <img src="../static/logo/img2.png" alt="Error not found!!!" />
            <img src="../static/logo/logo.png" alt="Error not found!!!" />
            <img src="../static/logo/img1.png" alt="Error not found!!!" />
        </div>
    </div>

    <section id="contactSection">
        <h2>Contact us</h2>
        <div class="contactArea">
            <a href="https://www.instagram.com" target="_blank" )><img src="../static/contact/insta.png" /></a>
            <a href="https://www.facebook.com" target="_blank" )><img src="../static/contact/fb.png" /></a>
            <a href="https://www.twitter.com" target="_blank" )><img src="../static/contact/tw.png" /></a>
            <a href="https://www.linkedin.com" target="_blank" )><img src="../static/contact/ln.png" /></a>
            <a href="https://www.youtube.com" target="_blank" )><img src="../static/contact/yt.png" /></a>
            <a href="https://www.whatsapp.com" target="_blank" )><img src="../static/contact/wp.png" /></a>
        </div>
    </section>
    <footer id="footer">
        copyright &copy; All rights reserved www.danceacademy.com
    </footer>
</body>

</html>